body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mobile-container {
    max-width: 100%;
    margin: auto;
    background-color: #333;
    color: white;
    /* border-radius: 10px; */
}
.topnav {
display: flex;
flex-direction: column;
align-items: center;
position: relative;
padding: 15px;
background-color: white;
}

.topnav .logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    }
    .topnav .logo img {
        width: 80px;
        height: auto;
        margin-right: 200px;
        margin-left: 0;
    }
    
    .topnav .logo a {
        text-decoration: none;
        font-size: 18px;
        color: blanchedalmond;
    }

.menu-icon,  .close-icon {
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    color:#FFA500;
    top: 15px;
}

.menu-icon {
    right: 15px;   
}

.close-icon {
display: none;
right: 15px;
}

.nav-links {
    list-style: none;
    display: none;
    width: 100%;
    text-align: center;
    background-color: #FFA500;
    /* border-radius: 0 0 10px 10px; */
    padding: 15px;
}

.nav-links.show {
    display: flex;
    flex-direction: column;
}

.nav-links li {
    margin-bottom: 10px;
}

.nav-links li a {
    text-decoration: none;
    font-size: 16px;
    color: whitesmoke;
    padding: 10px;
    display: block;
    border-radius: 5px;
}


.nav-links li a:hover {
    background-color:#e39402;
}
